<ion-content>
  <div class="image-div">
    <img src="../../assets/onboarding_img1.png" class="onboarding-image"/>

    <h2 class="onboarding-header">Never get lost on campus</h2>
    <h5 class="onbaording-description">Find hostels, departments, library, clinic and other. Don't get trap in the asking for location wahala</h5>
    <ion-button expand="block" class="onboarding-button ion-activatable ripple-parent" routerLink = '/tabsPage/tabs/tab1'>
      Try it now
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    <ion-button href="#" class="onboarding-anchor ion-activatable ripple-parent" [routerLink]="['/onboarding-two']" >
      Next
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
  </div>
</ion-content>
