<ion-content [fullscreen]="true" class="ion-padding">

  <h2 class="welcome">Welcome</h2>
  <h5 class="description">Browse for popular or most visited places on campus</h5>

  <ion-grid>
    <ion-row>
      <ion-col size='6'>
        <ion-card class="ion-activatable ripple-parent">
          <ion-card-content class="card-content">
            <img class="icon-img" src="../../assets/popular_places.svg">
            <h3 class="card-text">Hostels</h3>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>

      <ion-col size='6'>
        <ion-card class="ion-activatable ripple-parent">
          <ion-card-content class="card-content">
            <img class="icon-img" src="../../assets/popular_places.svg">
            <h3 class="card-text">Clinic</h3>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='6'>
        <ion-card class="ion-activatable ripple-parent">
          <ion-card-content class="card-content">
            <img class="icon-img" src="../../assets/popular_places.svg">
            <h3 class="card-text">Departments/lab</h3>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>

      <ion-col size='6'>
        <ion-card class="ion-activatable ripple-parent">
          <ion-card-content class="card-content">
            <img class="icon-img" src="../../assets/popular_places.svg">
            <h3 class="card-text">Office</h3>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='6'>
        <ion-card class="ion-activatable ripple-parent">
          <ion-card-content class="card-content">
            <img class="icon-img" src="../../assets/popular_places.svg">
            <h3 class="card-text">Restaurant</h3>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>

      <ion-col size='6'>
        <ion-card class="ion-activatable ripple-parent">
          <ion-card-content class="card-content">
            <img class="icon-img" src="../../assets/popular_places.svg">
            <h3 class="card-text">Library</h3>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
