<ion-content [fullscreen]="true">

  <div class="search-bar">
    <ion-searchbar placeholder="search places on campus"></ion-searchbar>
  </div>
  <agm-map [longitude] = 'longitude' [latitude] = 'latitude' [zoom] = 'zoom' (mapReady)="mapReadyFunc($event)">
    <agm-marker *ngFor="let place of places"
    [latitude]='place.lat' [longitude]='place.long' >
      <agm-info-window>
        <b>{{place.name}}</b>
        <br>
        <br>
        <a class="anchor-button" (click)="gotoLocation(place.lat, place.long)">Navigate</a>
      </agm-info-window>
  </agm-marker>
  </agm-map>
</ion-content>
